Vážený <%= @user.nick %>!

Vyžádal sis na serveru Boomy.cz zapomenuté heslo. Tvoje heslo je:

<%= @new_pass %>

Pokud server www.Boomy.cz neznáš, nebo ses tam neregistroval, 
ignoruj prosím tento email. 

Přeji příjemné používání Boomy.cz.